.wtfparent {
    width: 1200px;
    float: left;
    clear: both;
}

.wtflog {
    clear: both;
    background-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
}

.wtfstartbutton {
    clear: left;
    float: left;
}

.wtfgenesettextarea {
    width: 100%;
    clear: both;
    float: left;
    rows: 10;
}

.wtfcontrolmcmc {
    width: 400px;
    margin: 10px 0px 10px 0px;
    float: left;
    clear: left;
}

.wtfcontrol {
    float: left;
    clear: left;
    background-color: #e0e0e0;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.wtfmcmc {
    float: left;
    clear: left;
    margin: 0px 10px 10px 0px;
}

.wtfstatus {
    float: left;
    clear: left;
    width: 368px;
    background-color: #e0e0e0;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.wtfloglike {
    float: left;
    clear: left;
    margin: 0px 10px 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.wtfresults {
    float: left;
    clear: right;
}

.wtftable {
    float: left;
    text-align: center;
    font-style: italic;
    margin: 10px 10px 10px 0px;
}

.wtftable th {
    text-align: left;
}

.wtftermpair {
    clear: both;
    float: left;
    width: 800px;
}
