.wtfparent {
    width: 1200px;
    float: left;
    clear: both;
}

.wtflog {
    clear: both;
    background-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 5px;
}

.wtfcontrolpanels {
    width: 1200px;
    height: 200px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}

.wtfleftpanel {
    width: 400px;
    height: 200px;
    position: relative;
    float: left;
    clear: left;
}

.wtfmidpanel {
    width: 400px;
    height: 200px;
    position: relative;
    float: left;
}

.wtfrightpanel {
    width: 400px;
    height: 200px;
    position: relative;
    float: right;
    clear: right;
}

.wtfgeneset {
    width: 378px;
    height: 188px;
    background-color: #e0e0e0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.wtfbuttons > button {
    margin-right: 10px;
}

.wtfpaircheckbox {
    clear: right;
    float: right;
}

.wtfgenesettextarea {
    width: 100%;
    box-sizing: border-box;
    clear: both;
    float: left;
    resize: none;
}

.wtfprior {
    width: 378px;
    float: left;
    background-color: #e0e0e0;
    margin-right: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.wtfprior {
    font-style: italic;
}

.wtfprior > table {
    float: right;
}

.wtfprior > table > tbody > tr > th,
.wtfprior > table > tbody > tr > td,
.wtfprior > table > tbody > tr > td > input {
    text-align: right;
}

.wtfbuttons {
    width: 378px;
    clear: left;
    float: left;
    background-color: #e0e0e0;
    margin-top: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.wtfstatus {
    width: 378px;
    float: left;
    clear: left;
    position: absolute;
    bottom: 0;
    background-color: #e0e0e0;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.wtfloglike {
    width: 398px;
    height: 198px;
    float: left;
    clear: left;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.wtfresults {
    float: left;
    clear: right;
}

.wtftable {
    float: left;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wtftable > div > table > tbody > tr > th,
.wtftable > div > table > tbody > tr > td {
    text-align: left;
}

.wtftermtable {
    max-width: 1200px;
}

.wtfgenetable {
    clear: left;
    float: left;
}
